.logo_img{
    width: 60px;
    height: 60px;
    margin-left: 1%;
}

.social_media{
    height: 20px;
    width: 22px;
}

.basic_padding{
    padding-bottom: 20px;
}

input{
    border: 1px solid slategray;
    border-radius: 3px;
    padding: 2px;
    width: 12.5%;
}

::placeholder{
    opacity: 1;
}

html, body {
    min-height: 100%;
    min-width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}

header, footer{
    background-color: rosybrown;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.contact_us{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

header{
    position: sticky;
    top: 0px;
    width: 100%;
}

footer{
    height: 60px;
    width: 100%;
    position: sticky;
    bottom: 0px;
}

#login{
    justify-content: space-between;
    margin-right: 2%;
}

#login, #logo {
    align-content: center;
}

#contact, #social_media{
    align-items: center;
}

#social_media{
    margin-right: 2%;
}

#contact{
    margin-left: 2%;
}

#copyright{
    font-size: 10px;
}
