.hotel-image-detail {
	max-height: 350px;
	margin: 2% 4%;
}

#details-container {
	margin: 2.5% 2% 1% 2%;
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	max-height: 400px;
	box-sizing: border-box;
}

#image-div {
	width: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#form {
	display: flex;
	flex-direction: column;
	width: 25%;
	border-left: 1px solid black;
	max-height: 400px;
	box-sizing: border-box;
}

#hotel-description {
	margin: 1% 4% 2%;
}

.input {
	width: 60%;
	margin-left: 10%;
}

.form-input {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 5%;
	margin-bottom: 2.5%;
}

.headings {
	font-family: cursive;
	font-weight: bold;
}

form .btn {
	width: 100px;
	height: 35px;
	margin-left: 38%;
	margin-top: 8%;
	transition: none;
}

.btn-success {
	color: #28a745;
	background-color: #e0e0e0;
	border-color: #28a745;
}