.hotel-image {
	height: 200px;
	width: 250px;
}

.hotel-image-container {
	display: inline-flex;
	flex-direction: row;
	margin-bottom: 4%;
	margin-left: 4%;
	background-color: lightgrey;
	width: 40%;
}

.hotel-image-container:hover {
	background-color: rosybrown;
}

ul {
	list-style: none;
}

li {
	display: inline;
	color: black;
	font-weight: bold;
	margin: 5%;
}

#view-container {
	width: 27.5%;
	margin: 0 auto;
}

.hotel-details {
	display: block;
	margin: 2% 2.5%;
}

.nav-pills .nav-link.active {
	color: black;
	background-color: #007bff;
}